<div class="header">
  <div class="searchContainer">
    <img src="./../assets/images/search_icon.png" alt="search icon" class="logo">
    <div class="searchInput">
      <input type="text" name="" value="" placeholder="What do you want to find out?">
      <button type="button" name="button" (click)="searchItems()">search</button>
    </div>
    <button type="button"
            name="button"
            class="settingsBtn"
            (click)="toggleSeetings()"></button>
    <!-- <img src="./../assets/images/search_settings.png" alt="settings" class="settings"> -->
  </div>
  <app-login></app-login>
</div>

<ng-container *ngIf="settingsShown">
  <app-filter></app-filter>
</ng-container>
