<div class="details" *ngIf="searchItem$ | async as searchItem">
  <div class="btnBackContainer">
    <button type="button" name="button" (click)="goBack()">
      <img src="" alt="">
    </button>
  </div>

  <div class="itemImg" [ngStyle]="{'background-image': 'url(' + itemPhoto + ')'}">

  </div>

  <div class="itemDetails" [publicationDate]="publicationDate" appItemBorderColor>
    <div class="header">
      <p class="title">{{searchItem.snippet.title}}</p>
      <span class="date">{{searchItem.snippet.publishedAt | formatDate}}</span>
    </div>
    <div class="itemInfo">
      <div class="description">
        <h6>Description:</h6>
        <p>{{searchItem.snippet.description}}</p>
      </div>
      <div class="actionsContainer">
        <div class="action">
          <img src="./../../assets/images/viewed_icon.png" alt="viewed">
          <span class="action-data">{{searchItem.statistics.viewCount}}</span>
        </div>

        <div class="action">
          <img src="./../../assets/images/liked_icon.png" alt="likes">
          <span class="action-data">{{searchItem.statistics.likeCount}}</span>
        </div>

        <div class="action">
          <img src="./../../assets/images/dislike_icon.png" alt="dislike">
          <span class="action-data">{{searchItem.statistics.dislikeCount}}</span>
        </div>

        <div class="action">
          <img src="./../../assets/images/files_icon.png" alt="files">
          <span class="action-data">{{searchItem.statistics.commentCount}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
