<div class="adminContainer">
  <h2>Create new card</h2>
  <form [formGroup]="cardForm" (ngSubmit)="onCreateCard()">
    <div class="formGroup">
        <label for="title">Title</label>
        <input type="text" formControlName="title" class="formControl" [ngClass]="{ 'is-invalid': submitted && form.title.errors }" />
        <div *ngIf="submitted && form.title.errors" class="invalidFeedback">
            <div *ngIf="form.title.errors.required">Title is required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="description">Description</label>
        <input type="text" formControlName="description" class="formControl" [ngClass]="{ 'is-invalid': submitted && form.description.errors }" />
        <div *ngIf="submitted && form.description.errors" class="invalidFeedback">
            <div *ngIf="form.description.errors.required">Description is required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="img">Img</label>
        <input type="text" formControlName="img" class="formControl" [ngClass]="{ 'is-invalid': submitted && form.img.errors }" />
        <div *ngIf="submitted && form.img.errors" class="invalidFeedback">
            <div *ngIf="form.img.errors.required">Description is required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="video">Link video</label>
        <input type="text" formControlName="video" class="formControl" [ngClass]="{ 'is-invalid': submitted && form.video.errors }" />
        <div *ngIf="submitted && form.video.errors" class="invalidFeedback">
            <div *ngIf="form.video.errors.required">Video is required</div>
        </div>
    </div>
    <div class="formGroup">
        <button [disabled]="loading" class="btn btnPrimary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create card
        </button>
        <!-- <a routerLink="/register" class="btn btn-link">Register</a> -->
    </div>
  </form>
</div>
