<div class="searchItem">
  <img src="" alt="">
  <div class="actionsContainer">
    <div class="action">
      <img src="" alt="">
      <span class="count">10</span>
    </div>

    <div class="action">
      <img src="" alt="">
      <span class="count">100</span>
    </div>

    <div class="action">
      <img src="" alt="">
      <span class="count">52</span>
    </div>

    <div class="action">
      <img src="" alt="">
      <span class="count">2</span>
    </div>

  </div>
  <h3 class="itemTitle"></h3>
  <button type="button" name="button">more ...</button>
</div>
