<div class="actionsContainer">
  <div class="action">
    <img src="./../../assets/images/viewed_icon.png" alt="viewed">
    <span class="action-data">{{viewCount}}</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/liked_icon.png" alt="likes">
    <span class="action-data">{{likeCount}}</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/dislike_icon.png" alt="dislike">
    <span class="action-data">{{dislikeCount}}</span>
  </div>

  <div class="action">
    <img src="./../../assets/images/files_icon.png" alt="files">
    <span class="action-data">{{commentCount}}</span>
  </div>

</div>
